
body {
    background-color: #f5f5f5;
    font-family: "Fira Sans", serif;
    font-style: normal;
    
}

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
.body{
    font-family: "Fira Sans", serif;
    font-style: normal;
  }
  /* Navbar Styles */

  .nav-title{
    font-size: 32px;
    font-weight: bold;
  }

  .heading-color{
    color: #0E0E0E;
  }

  .header-btn{
    background-color: #ffffff;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border-color: #006A50;
    border-radius: 8px;
    
  }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    width: 1280px; /* Set a fixed width for the page */
    margin: 0 auto; /* Center the content horizontally */
    background-color: #fff; /* Optional background for the wrapper */

    /* Banner Section */

    .bannr-subheading{
        font-size: 24px;
        font-weight: 500;
        color: #6a7972;
        margin-bottom: 15px;
    }
    .banner-heading{
        font-size: 56px;
        font-weight: bold;
        color: #0E0E0E;
        margin-right: 110px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .banner-btn{
        background-color: #006A50;
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
        padding: 17px 34px;
        border-radius: 8px;
        margin-top: 20px;
      }
      .banner{

        display: flex;
        background-color: #C6E4D6;
        justify-content: space-between;
        padding: 80px 50px;
        border-radius: 24px;
        margin-top: 20px;
        


      }

      .banner-pic{
        width: 480px;
       
    }

    .section-heading{
      font-size: 40px;
      font-weight: bold;
    }
    .piller-title{
      font-size: 20px; 
      font-weight: bold;
    }
    .description{
      font-size: 16px;
      font-weight: 400;
      color: #0E0E0E;
    }

    .pillar-container{
      display: flex;
      gap: 24px;
    }

    .pillar{
      padding: 24px 24px;
      border-radius: 16px;
      background-color: #ee1414;
      
    }

    .card-title{
      font-size: 20px; 
      font-weight: bold;
    }

    .vision-container{
      display: flex;
      gap: 24px;
    }
    
    .vision-blue{
      padding: 32px 32px;
      border-radius: 16px;
      background-color: #d5e1f5;
      
    }

    .vision-green{
      padding: 32px 32px;
      border-radius: 16px;
      background-color: #c6e4d6;
      
    } 

    .vision-yellow{
      padding: 32px 32px;
      border-radius: 16px;
      background-color: #f7ebcf;
      
    }

    .blue-btn{
      background-color: #5490F5;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 11px 20px;
        border-radius: 8px;
        margin-top: 20px;
        border: none;
    }

    .green-btn{
      background-color: #09A15C;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 11px 20px;
        border-radius: 8px;
        margin-top: 20px;
        border: none;
    }

    .yellow-btn{
      background-color: #FFC239;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        padding: 11px 20px;
        border-radius: 8px;
        margin-top: 20px;
        border: none;
    }

    .testimonial{
      margin-top: 32px;
      padding: 32px 32px;
      border-radius: 16px;
      background-color: #dfe7e3;
      position: relative;
      background-image: url('https://raw.githubusercontent.com/Shaikats/Assignment-1/refs/heads/main/assets/quote-bg.png');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 54px 54px;
      background-position: 34px 34px; 

    }


.survey{
  margin-top: 80px;
  margin-bottom: 80px;
}
    .table-container {
      max-width: 1220px;
      margin: 0 auto;
      border: 1px solid #ddd;
      overflow: hidden;
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .survey-table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
  }
  
  .survey-table thead th {
      background-color: #d9f0e3;
      color: #333;
      padding: 24px;
      font-weight: bold;
  }
  
  .survey-table tbody td {
      padding: 12px;
      border-bottom: 1px solid #ddd;
      vertical-align: middle;
  }
  
  .survey-table tbody td:last-child {
      text-align: center;
  }
  
  .dropdown {
      font-size: 16px;
      font-weight: 600;
      padding: 8px 12px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
      background-color: #ffffff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      background-color: #daf1e7;
  }

  .full-table{
    background-color: aquamarine;
    padding: 32px 32px;
    border-radius: 8px;
  }